#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

/* Remove styling for link*/
a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}
  
a:hover {
    text-decoration: none;
    color: inherit;
}
  
a:active {
    text-decoration: none;
    color: inherit;
}

/* Remove styling for sudoku-element input */
.sudoku-element {
    border: hidden;
    outline: none;
}

#sudoku-grid div{
    border: solid;
}