/* Define fonts to be used in site */
@font-face {
    font-family: MontserratBoldItalic;
    src: url(fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(fonts/Pacifico-Regular.ttf);
}

/* Create CSS grid for sudoku game */
#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

/* Remove styling for link*/
a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}
  
a:hover {
    text-decoration: none;
    color: inherit;
}
  
a:active {
    text-decoration: none;
    color: inherit;
}

/* Styling for sudoku game input fields */
.sudoku-element {
    border: hidden;
    outline: none;
    text-align: center;
    /* Set border styling for sudoku game */
    border-top: 0.2rem solid;
    border-left: 0.2rem solid;
}

.sudoku-element:nth-child(3n) {
    border-right: solid;
}

/* Set fonts */
body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-family: Pacifico, serif;
}

h2 {
    font-family: MontserratBoldItalic, sans-serif;
}